/*font-family: 'Montserrat', sans-serif;
font-family: 'Silkscreen', cursive;
font-family: 'Source Serif Pro', serif;
*/

:root{
   --branding-color: #6C63FF;
   --secondary-color: #F9F7FE;
   --heading-font-family: 'Source Serif Pro', serif;
   --default-font-family: 'Montserrat', sans-serif;

  
}

body {
  font-family: var(-default-font-family);
}

h1, h2, h3, h4, h5, h6
 {
 font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 14px;
  line-height: 30px;
}



.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  line-height: 2;
}

.hero h2 {
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
border-radius: 4px;
padding: 12px 20px;
color: white;
line-height: 27px;
font-size: 18px;
}

.button-branding-outline {
    background: var(--secondary-color);
border-radius: 4px;
border: 1px solid var(--branding-color);
padding: 12px 20px;
color: var(--branding-color);
line-height: 27px;
font-size: 18px;

}

.projects-image {
  
width: 560px;
height: 560px;
}

.project-description {
  padding: 120px 60px;
}

.content-container {
   padding: 160px 20px;
   
}


.content-container h1 {
font-size: 64px;
line-height: 80px;

}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-container h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);

}

.content-container p {
    font-size: 14px;
}

.content {
  margin: 30px;
}
.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  
}
nav a {
 text-decoration: none;
 color: #272142;
transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a  {
  color: var(--branding-color);
}




@media (max-width:960px) {
  .project-description {
    padding: 0;
    text-align: center;

  }

  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
  nav a {
    font-size: 14px;
    margin: 5px;
  }
}